div#reloj {
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}

div#reloj span.cuad {
	border-radius: 5px;
	padding: 1px 3px 3px 2px;
	color: #ffffff;
	background: #000000;
	font-size: 50px;
}

span.separador {
	font-size: 50px;
}
